<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %level %msg%n</pattern>
			<!--%logger{36}-->
		</encoder>
	</appender>

	<logger name="org.springframework" level="ERROR" />

	<root level="TRACE">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
